.containerOne {
  background-color: #45789d;
}

.mainOne {
  width: 75%;
  margin-left: 20%;
  background-color: #F1FAEE;
  height: 100%;
  border-radius: 1.5rem;
  padding:24px;
}

.fr-info {
  font-size: 3rem;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 24px;
}

.firstRow {
  display: flex;
  align-items: center;
}

.width-60 {
  width: 60%;
}

.width-40 {
  width: 40%;
}

.img-block {
  text-align: center;
}

.sec-row {
  background-color: #1d3557;
  color: #f1faee;
  border-radius: 0.75rem;
}

footer {
  width: 75%;
  margin-left: 20%;
  background-color: #F1FAEE;
  height: 100%;
  border-radius: 1.5rem;
  padding:24px;
}
.footer-info {
  font-size: 1.5rem;
}

/*.containerOne {
  background-color: #F1FAEE;
}
.mainOne {
  background-color: #a8dadc;
  width: 75%;
  margin-left: 20%;
  /-*background-color: #45789d;*-/
  height: 660px;
}

.p1 {
  color: #1d3557;
}
.p2 {
  color: #f1faee;
}*/

/*.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}*/

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
